/* HTML basics Styles */
h1 {
	color: #02427a;
	font-size: 3em;
}
h3 {
	color: #08467d;
	font-size: 1.3em;
}
h4 {
	color:#2b2a2a;
	font-size: 1.3em;
}
	h4 small {
		font-size: .7em;
	}
h5 {
	color: #696969;
}
h6 {
	color: #919090;
}
small {
	color: #6c757d;
	font-size: 1.1em;
}
	small strong{
		color: #444;
	}
.text-info {
	color: #4074df !important;
}
label small {
	font-size: 0.8em;
}

a:hover {
	text-decoration: none;
}

/* Bootstrap Class Styles */
.bg-dark {
	background-color: #02427a !important;
}
	a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
		background-color: #02427a !important;
	}
.bg-dark-light {
	background-color:#f3f2f1
}
.navbar-toggler:not(.collapsed) {
	background-color: #02427a;
}
.navbar-dark {
	background-color: #2863DD !important
}
footer .container {
	border-top: #4e555a solid 2px !important;
}
.collapsebutton i {
	font-size: 0.8em;  
	transform: rotate(90deg);
	transition: .1s transform ease-in-out;
}
.collapsebutton.collapsed i {
	transform: rotate(0deg);
}
.input-daterange input {
	cursor: pointer !important;
}
.btn-outline-primary {
	border-color: #007bff1c;
	color: #444;

}
	.btn-outline-primary:hover, .btn-outline-primary:active {
		background-color: #2863dd;
	}
	.btn-outline-primary label:hover {
		color: aliceblue !important;
	}
.bookingBanner {
	padding: 6px 0;
	background-color: #e6eef7;
}
.fa-color-primary {
	color: #2863dd;
}
.fa-yellow {
	color: #fc0;
	border-color: red solid 2px;
  }
.fa-squared-bordered {
	border: solid 1px #999897;
	padding: 10px;
	border-radius: 5px;
}
.list-highlight {
	background-color: #e6eef7;
	color: #386fdf;
}
.list-highlight-2 {
	background-color: #f2fff2;
	color: #059b05;
}
.form-highlight {
	background-color: #f8fbfd;
}
.high-green {
	color: #059b05;
}
.right-quote {
	padding-right: 27px;
}
	.right-quote>div {
		border-right: solid 9px #f3f2f1;
	}

.left-quote {
	padding-left: 27px;
}
	.left-quote>div {
		border-left: solid 9px #f3f2f1;
	}
.odd-bg {
	background-color: #e7e7e7;
}
.odd-bg i {
	color: #3be23b;
}
.full-screen {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bg-cover {
	background-size: cover;
}
.navbar-transparent {
	background-color: #2b2a2a52;
	color: white;
}
.dropdown-menu {
	background-color: #02427A;
	padding: 0;
	text-align: right;
}
	.dropdown-menu .dropdown-item {
		color: white;
		padding-top: 8px;
		padding-bottom:8px;
		border-bottom: solid 1px #eee6e62e;
	}
	.dropdown-menu .dropdown-item:hover {
		color: white;
		background-color: #2863DD;

	}

.HouseCarousel .carousel-control { visibility: hidden; opacity: 1; }
.HouseCarousel:hover .carousel-control { visibility: visible; }

#hostalSlider .modal-dialog {
	max-width: 100%;
}
#hostalSlider .modal-content {
	border-radius: 0px;
}
#hostalSlider .modal-header {
	border-bottom: none;
}

.modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  }
  
.modal-content {
height: auto;
min-height: 100%;
border-radius: 0;
}
.gap {
	height: 210px !important;
}
.set-start-day, .set-end-day, .set-guest-adult, .set-guest-children {
	font-size: 16px;
    font-weight: lighter;
}
.set-guest-adult, .set-guest-children {
	font-weight: normal;
}
